Repository maistra/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: deploy-prow, push-containers

deploy-prow:
  decorate: true
  labels:
    preset-prow-deployer: 'true'
  spec:
    containers:
    - image: quay.io/maistra/maistra-builder:1.2
      imagePullPolicy: Always
      command:
      - make
      - gen-check
      - update-prow

push-containers:
  decorate: true
  labels:
    preset-quay-pusher: 'true'
  spec:
    containers:
    - image: quay.io/maistra/maistra-builder:1.2
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - maistra-builder.push
      securityContext:
        privileged: true

Add prow's checkconfig to the builder image (#27)
  docker/maistra-builder_1.2.Dockerfile
Due: push-containers

Use 1.2 builder image for test-infra jobs (#28)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: deploy-prow

Run checkconfig as part of lint presubmit job
  Makefile
Due: none

Run checkconfig as part of lint presubmit job (#29)
  Makefile
Due: none

added license
  LICENSE
Due: none

Add automator (#20)
  tools/automator.sh
Due: none

Bump prow version
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.gen.yaml
  prow/config/plank.yaml
Due: deploy-prow

Add bump_prow.sh
  tools/bump_prow.sh
Due: none

Update LICENSE
  LICENSE
Due: none

Add bump_prow.sh helper script and use it to bump prow images (#31)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.gen.yaml
  prow/config/plank.yaml
  tools/bump_prow.sh
Due: deploy-prow

added license (#30)
  LICENSE
Due: none

Add ior update-rpm postsubmit job
  prow/config/postsubmits.yaml
  prow/config/presets.yaml
Due: deploy-prow

Add rpm-ior presubmit job
  prow/config/presets.yaml
  prow/config/presubmits.yaml
Due: deploy-prow

Include ior and rpm-ior repos to prow plugin list
  prow/plugins.yaml
Due: deploy-prow

Add tide configuration for rpm-ior
  prow/config/tide.yaml
Due: deploy-prow

make gen
  prow/config.gen.yaml
Due: deploy-prow

Add ior jobs (#32)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presets.yaml
  prow/config/presubmits.yaml
  prow/config/tide.yaml
  prow/plugins.yaml
Due: deploy-prow

Fix the path to automator script
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: deploy-prow

Add COPR token instructions on README
  README.md
Due: none

Add COPR token instructions on README (#34)
  README.md
Due: none

Fix the path to automator script (#33)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: deploy-prow

Enable tide on test-infra
  prow/config.gen.yaml
  prow/config/tide.yaml
  prow/plugins.yaml
Due: deploy-prow

Enable tide on test-infra (#35)
  prow/config.gen.yaml
  prow/config/tide.yaml
  prow/plugins.yaml
Due: deploy-prow

Add istio-operator jobs
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
  prow/config/tide.yaml
  prow/plugins.yaml
Due: deploy-prow

Add istio-operator jobs (#36)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
  prow/config/tide.yaml
  prow/plugins.yaml
Due: deploy-prow

Add rpm-common postsubmit job, updates rpm's repos
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/plugins.yaml
Due: deploy-prow

Add rpm-common presubmit job
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: deploy-prow

Automator: support multiple repos
  tools/automator.sh
Due: none

Automator: support multiple repos (#37)
  tools/automator.sh
Due: none

Add rpm-common jobs (#38)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
  prow/plugins.yaml
Due: deploy-prow

Add tide to rpm-common
  prow/config.gen.yaml
  prow/config/tide.yaml
Due: deploy-prow

Add tide to rpm-common (#39)
  prow/config.gen.yaml
  prow/config/tide.yaml
Due: deploy-prow

Automator: Make the fork name unique
  tools/automator.sh
Due: none

Use the modifier when invoking automator
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: deploy-prow

Unique fork name (#40)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  tools/automator.sh
Due: deploy-prow

Update dockerfile to use exect hugo version
  docker/maistra-builder_1.2.Dockerfile
Due: push-containers

Updated URL
  docker/maistra-builder_1.2.Dockerfile
Due: push-containers

Update dockerfile to use exect hugo version (#41)
  docker/maistra-builder_1.2.Dockerfile
Due: push-containers

Add prow presubmits for Maistra 1.2 branches
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: deploy-prow

Add prow presubmits for Maistra 1.2 branches (#43)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: deploy-prow

Path conditions:
  deploy-prow: any of: ^prow/
  push-containers: any of: ^docker/
