Repository maistra/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: deploy-prow, push-containers, build-containers

deploy-prow:
  decorate: true
  labels:
    preset-prow-deployer: 'true'
  spec:
    containers:
    - image: quay.io/maistra/maistra-builder:1.2
      imagePullPolicy: Always
      command:
      - make
      - gen-check
      - update-prow

push-containers:
  decorate: true
  labels:
    preset-quay-pusher: 'true'
  spec:
    containers:
    - image: quay.io/maistra/maistra-builder:1.2
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - maistra-builder.push
      securityContext:
        privileged: true

build-containers:
  decorate: true
  spec:
    containers:
    - image: quay.io/maistra/maistra-builder:1.2
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - build-containers
      securityContext:
        privileged: true

Enable verbose output on istio-operator unittests job
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: deploy-prow

Enable verbose output on istio-operator unittests job (#44)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: deploy-prow

Rename unit test job for maistra-1.2 branch
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: deploy-prow

Update maistra-1.2 unit test commands for Istio 1.6
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: deploy-prow

Rename unit test job for maistra-1.2 branch (#45)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: deploy-prow

Add yq
  docker/maistra-builder_1.2.Dockerfile
  docker/scripts/install_docs_tools.sh
Due: push-containers, build-containers

Add yq (#46)
  docker/maistra-builder_1.2.Dockerfile
  docker/scripts/install_docs_tools.sh
Due: push-containers, build-containers

MAISTRA-1472 Add job to build RPMS/containers on istio-operator PRs
  Makefile
  docker/maistra-builder_1.2.Dockerfile
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presets.yaml
  prow/config/presubmits.yaml
  prow/create.sh
Due: deploy-prow, push-containers, build-containers

MAISTRA-1472 Add job to build RPMS/containers on istio-operator PRs (#42)
  Makefile
  docker/maistra-builder_1.2.Dockerfile
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presets.yaml
  prow/config/presubmits.yaml
  prow/create.sh
Due: deploy-prow, push-containers, build-containers

Fix builder image hub + set imagePullPolicy to Always
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: deploy-prow

Fix builder image hub + set imagePullPolicy to Always (#48)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: deploy-prow

Speed up build-containers job
  Makefile
Due: none

Rename `master` to `main`
  README.md
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: deploy-prow

Rename `master` to `main` (#49)
  README.md
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: deploy-prow

Use a unified naming scheme for jobs
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: deploy-prow

enable verbosity for unittest
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: deploy-prow

Use a unified naming scheme for jobs (#50)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: deploy-prow

Run upstream integration tests against maistra/istio
  docker/maistra-builder_1.2.Dockerfile
  docker/scripts/entrypoint.sh
  prow/config.gen.yaml
  prow/config/plank.yaml
  prow/config/presubmits.yaml
Due: deploy-prow, push-containers, build-containers

Activate integration tests on maistra-1.1
  prow/config/presubmits.yaml
Due: deploy-prow

Adhere to unified job naming scheme
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: deploy-prow

Run integration tests against Maistra/istio (#10)
  docker/maistra-builder_1.2.Dockerfile
  docker/scripts/entrypoint.sh
  prow/config.gen.yaml
  prow/config/plank.yaml
  prow/config/presubmits.yaml
Due: deploy-prow, push-containers, build-containers

enable verbosity for unittest (#51)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: deploy-prow

fix maistra org rename fallout
  README.md
  docker/maistra-builder_1.2.Dockerfile
  prow/config.gen.yaml
  prow/config/branch-protection.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
  prow/config/tide.yaml
  prow/plugins.yaml
Due: deploy-prow, push-containers, build-containers

fix maistra org rename fallout (#52)
  README.md
  docker/maistra-builder_1.2.Dockerfile
  prow/config.gen.yaml
  prow/config/branch-protection.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
  prow/config/tide.yaml
  prow/plugins.yaml
Due: deploy-prow, push-containers, build-containers

Move 1.2 jobs to 2.0 branch
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: deploy-prow

Move 1.2 jobs to 2.0 branch (#53)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: deploy-prow

Add lint tools on 2.0 image
  Makefile
  docker/maistra-builder_2.0.Dockerfile
Due: push-containers, build-containers

Add a lint job for maistra/istio
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: deploy-prow

Fix 1.1 image, do not rely on COPR
  docker/scripts/install_docs_tools.sh
Due: push-containers, build-containers

MAISTRA-1628: Add linter check on presubmit for maistra/istio (#54)
  Makefile
  docker/maistra-builder_2.0.Dockerfile
  docker/scripts/install_docs_tools.sh
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: deploy-prow, push-containers, build-containers

MAISTRA-1634: Add gen-check presubmit test for maistra/istio
  docker/maistra-builder_2.0.Dockerfile
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: deploy-prow, push-containers, build-containers

Add the make target `maistra-gen-k8s-client` to the job
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: deploy-prow

MAISTRA-1634: Add gen-check presubmit test for maistra/istio (#55)
  docker/maistra-builder_2.0.Dockerfile
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: deploy-prow, push-containers, build-containers

MAISTRA-1634: Install tools needed by `maistra-gen-k8s-client` target
  docker/maistra-builder_2.0.Dockerfile
Due: push-containers, build-containers

MAISTRA-1634: Install tools needed by `maistra-gen-k8s-client` target (#56)
  docker/maistra-builder_2.0.Dockerfile
Due: push-containers, build-containers

MAISTRA-1634: Add more tools needed for `make gen`
  docker/maistra-builder_2.0.Dockerfile
Due: push-containers, build-containers

MAISTRA-1634: Add more tools needed for `make gen` (#57)
  docker/maistra-builder_2.0.Dockerfile
Due: push-containers, build-containers

Speed up build-containers job (#47)
  Makefile
Due: none

MAISTRA-1648: Add a prow presubmit job for maistra/proxy
  Makefile
  docker/maistra-proxy-builder_2.0.Dockerfile
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
  prow/plugins.yaml
Due: deploy-prow, push-containers, build-containers

MAISTRA-1648: Add a prow presubmit job for maistra/proxy (#58)
  Makefile
  docker/maistra-proxy-builder_2.0.Dockerfile
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
  prow/plugins.yaml
Due: deploy-prow, push-containers, build-containers

Path conditions:
  deploy-prow: any of: ^prow/
  push-containers: any of: ^docker/
  build-containers: any of: ^docker/
