Repository maistra/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers, build-containers

test-infra_deploy-prow:
  decorate: true
  labels:
    preset-prow-deployer: 'true'
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:1.2
      imagePullPolicy: Always
      command:
      - make
      - gen-check
      - update-prow

test-infra_push-containers:
  decorate: true
  labels:
    preset-quay-pusher: 'true'
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:1.2
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - maistra-builder.push
      securityContext:
        privileged: true

test-infra_push-proxy-containers:
  decorate: true
  labels:
    preset-quay-pusher: 'true'
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:1.2
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - maistra-proxy-builder.push
      securityContext:
        privileged: true

build-containers:
  decorate: true
  spec:
    containers:
    - image: quay.io/maistra/maistra-builder:1.2
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - build-containers
      securityContext:
        privileged: true

Trigger proxy image build
  docker/maistra-proxy-builder_2.0.Dockerfile
Due: test-infra_push-proxy-containers, build-containers

Trigger proxy image build (#59)
  docker/maistra-proxy-builder_2.0.Dockerfile
Due: test-infra_push-proxy-containers, build-containers

Fix integration tests on istio 1.1
  docker/scripts/install_go_13.sh
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow, build-containers

Make sure to trigger container build when script dir is changed
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Make sure to trigger container build when script dir is changed (#61)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

MAISTRA-1651: Update proxy on Envoy postsubmit
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/plugins.yaml
Due: test-infra_deploy-prow

MAISTRA-1651: Update proxy on Envoy postsubmit (#62)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/plugins.yaml
Due: test-infra_deploy-prow

MAISTRA-1651: Install tools in proxy image needed by automator
  docker/maistra-proxy-builder_2.0.Dockerfile
Due: test-infra_push-proxy-containers, build-containers

MAISTRA-1651: Install tools in proxy image needed by automator (#63)
  docker/maistra-proxy-builder_2.0.Dockerfile
Due: test-infra_push-proxy-containers, build-containers

MAISTRA-1661: Bump prow
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.gen.yaml
  prow/config/plank.yaml
Due: test-infra_deploy-prow

MAISTRA-1661: Bump prow (#64)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.gen.yaml
  prow/config/plank.yaml
Due: test-infra_deploy-prow

Update for maistra 2.0
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Updates to remove duplicates and add testing for ior to 1.1
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Update for maistra 2.0 (#65)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Use official bazel binary
  docker/maistra-proxy-builder_2.0.Dockerfile
Due: test-infra_push-proxy-containers, build-containers

Use official bazel binary (#66)
  docker/maistra-proxy-builder_2.0.Dockerfile
Due: test-infra_push-proxy-containers, build-containers

Add max_concurreny options to jobs with high resource usage
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add max_concurreny options to jobs with high resource usage (#67)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add resource limits/requests to jobs
  Makefile
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
  scripts/check-resource-limits.sh
Due: test-infra_deploy-prow

Make script executable
  Makefile
  scripts/check-resource-limits.sh
Due: none

Add resource limits/requests to jobs (#68)
  Makefile
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
  scripts/check-resource-limits.sh
Due: test-infra_deploy-prow

Add Envoy 1.1 job
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add Envoy 1.1 job (#69)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add image for Envoy 1.1
  Makefile
  docker/maistra-proxy-builder_1.1.Dockerfile
Due: test-infra_push-proxy-containers, build-containers

Add image for Envoy 1.1 (#70)
  Makefile
  docker/maistra-proxy-builder_1.1.Dockerfile
Due: test-infra_push-proxy-containers, build-containers

Enhance 2.0 proxy image so that it can build Envoy as well
  docker/maistra-proxy-builder_2.0.Dockerfile
Due: test-infra_push-proxy-containers, build-containers

Enhance 2.0 proxy image so that it can build Envoy as well (#71)
  docker/maistra-proxy-builder_2.0.Dockerfile
Due: test-infra_push-proxy-containers, build-containers

Add Envoy 2.0 job
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add Envoy 2.0 job (#72)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Increase timeout for proxy and envoy jobs (4h -> 5h)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Increase timeout for proxy and envoy jobs (4h -> 5h) (#73)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Bump prow version
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.gen.yaml
  prow/config/plank.yaml
Due: test-infra_deploy-prow

Bump prow version (#74)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.gen.yaml
  prow/config/plank.yaml
Due: test-infra_deploy-prow

Remove unexistent arguments
  prow/cluster/deck_deployment.yaml
  prow/cluster/plank_deployment.yaml
Due: test-infra_deploy-prow

Put more panels in job log viewer (similar to Istio)
  prow/config.gen.yaml
  prow/config/deck.yaml
Due: test-infra_deploy-prow

Remove unexistent arguments (#75)
  prow/cluster/deck_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/config.gen.yaml
  prow/config/deck.yaml
Due: test-infra_deploy-prow

Increase proxy resources
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Increase proxy resources (#76)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add jobs for header-append-filter
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
  prow/plugins.yaml
Due: test-infra_deploy-prow

Install rust in maistra-builder image
  docker/maistra-builder_2.0.Dockerfile
Due: test-infra_push-containers, build-containers

Path conditions:
  test-infra_deploy-prow: any of: ^prow/
  test-infra_push-containers: any of: ^docker/maistra-builder_.*\.Dockerfile
  test-infra_push-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile
  build-containers: any of: ^docker/
