Repository maistra/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-infra_build-containers, test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers

test-infra_build-containers:
  decorate: true
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:1.2
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - build-containers
      securityContext:
        privileged: true

test-infra_build-proxy-containers:
  decorate: true
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:1.2
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - build-proxy-containers
      securityContext:
        privileged: true

test-infra_deploy-prow:
  decorate: true
  labels:
    preset-prow-deployer: 'true'
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:1.2
      imagePullPolicy: Always
      command:
      - make
      - gen-check
      - update-prow

test-infra_push-containers:
  decorate: true
  labels:
    preset-quay-pusher: 'true'
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:1.2
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - maistra-builder.push
      securityContext:
        privileged: true

test-infra_push-proxy-containers:
  decorate: true
  labels:
    preset-quay-pusher: 'true'
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:1.2
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - maistra-proxy-builder.push
      securityContext:
        privileged: true

Make linter happy
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

Revert "Increase proxy resources (#76)"
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Revert "Increase proxy resources (#76)" (#78)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Fix 1.1 container build
  docker/scripts/install_docker.sh
Due: test-infra_build-containers, test-infra_push-containers

Fix 1.1 container build (#79)
  docker/scripts/install_docker.sh
Due: test-infra_build-containers, test-infra_push-containers

Tide: Auto merge proxy automated PR's
  prow/config.gen.yaml
  prow/config/tide.yaml
Due: test-infra_deploy-prow

Tide: Auto merge proxy automated PR's (#80)
  prow/config.gen.yaml
  prow/config/tide.yaml
Due: test-infra_deploy-prow

Add tide to proxy and envoy repos
  prow/config.gen.yaml
  prow/config/tide.yaml
Due: test-infra_deploy-prow

Add tide to proxy and envoy repos (#81)
  prow/config.gen.yaml
  prow/config/tide.yaml
Due: test-infra_deploy-prow

WASM Extension example (#77)
  docker/maistra-builder_2.0.Dockerfile
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
  prow/plugins.yaml
Due: test-infra_build-containers, test-infra_deploy-prow, test-infra_push-containers

Use specific commit SHAs to refer to builder images
  Makefile
  docker/maistra-builder_1.0.Dockerfile
  docker/maistra-builder_1.1.Dockerfile
  docker/maistra-builder_1.2.Dockerfile
  docker/maistra-builder_2.0.Dockerfile
  docker/maistra-proxy-builder_1.1.Dockerfile
  docker/maistra-proxy-builder_2.0.Dockerfile
  prow/cluster/deck_deployment.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
  prow/config/tide.yaml
  prow/gen-config.sh
  tools/bump_builder.sh
Due: test-infra_build-containers, test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers

Update istio when proxy changes
  docker/maistra-proxy-builder_2.0.Dockerfile
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presets.yaml
  prow/config/presubmits.yaml
  tools/automator.sh
Due: test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-proxy-containers

Update istio when proxy changes (#83)
  docker/maistra-proxy-builder_2.0.Dockerfile
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presets.yaml
  prow/config/presubmits.yaml
  tools/automator.sh
Due: test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-proxy-containers

Install yqv2 and yqv3 alongside
  docker/maistra-builder_1.1.Dockerfile
  docker/scripts/install_base.sh
  docker/scripts/install_docs_tools.sh
  docker/scripts/install_go_13.sh
Due: test-infra_build-containers, test-infra_push-containers

Install yqv2 and yqv3 alongside (#84)
  docker/maistra-builder_1.1.Dockerfile
  docker/scripts/install_base.sh
  docker/scripts/install_docs_tools.sh
  docker/scripts/install_go_13.sh
Due: test-infra_build-containers, test-infra_push-containers

Add a missing env var to proxy postsubmit job
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

Add a missing env var to proxy postsubmit job (#86)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

Define resource requests and limits for ingress
  prow/create.sh
Due: test-infra_deploy-prow

Define resource requests and limits for ingress (#85)
  prow/create.sh
Due: test-infra_deploy-prow

Add cpu limits to all jobs
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add cpu limits to all jobs (#87)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Set the Envoy URL for istio 2.0 jobs
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Configure istio to use tide
  prow/config.gen.yaml
  prow/config/tide.yaml
Due: test-infra_deploy-prow

Set the Envoy URL for istio 2.0 jobs (#88)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Update shellcheck
  docker/maistra-builder_1.1.Dockerfile
  docker/maistra-builder_1.2.Dockerfile
  docker/scripts/install_shellcheck.sh
Due: test-infra_build-containers, test-infra_push-containers

Update shellcheck (#90)
  docker/maistra-builder_1.1.Dockerfile
  docker/maistra-builder_1.2.Dockerfile
  docker/scripts/install_shellcheck.sh
Due: test-infra_build-containers, test-infra_push-containers

Add presubmit job to proxy 1.1
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add presubmit job to proxy 1.1 (#91)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Increase envoy/proxy jobs timeout to 6h
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Increase envoy/proxy jobs timeout to 6h (#92)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

MAISTRA-1977: Setup a volume to store a cache for bazel builds
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

MAISTRA-1977: Setup a volume to store a cache for bazel builds (#93)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

fix(ns): makes namespaces customizable
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/cherrypicker_service.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_rbac.yaml
  prow/cluster/deck_service.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/hook_rbac.yaml
  prow/cluster/hook_service.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/horologium_rbac.yaml
  prow/cluster/ingress.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/plank_rbac.yaml
  prow/cluster/plank_service.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/sinker_rbac.yaml
  prow/cluster/sinker_service.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/statusreconciler_rbac.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tide_rbac.yaml
  prow/cluster/tide_service.yaml
  prow/config/prow.yaml
  prow/create.sh
  prow/gen-config.sh
  prow/nginx-ingress/ci/daemonset-tcp-udp-configMapNamespace-values.yaml
  prow/nginx-ingress/ci/deployment-tcp-udp-configMapNamespace-values.yaml
  prow/setup-prow-deployer.sh
  prow/update.sh
Due: test-infra_deploy-prow

fix(sc): wraps variables in quotes
  prow/gen-config.sh
  prow/setup-prow-deployer.sh
  prow/update.sh
Due: test-infra_deploy-prow

fix(sc): wraps for-loop varialbe in quotes
  prow/gen-config.sh
  prow/update.sh
Due: test-infra_deploy-prow

chore: reverts nginx configmaps
  prow/nginx-ingress/ci/daemonset-tcp-udp-configMapNamespace-values.yaml
  prow/nginx-ingress/ci/deployment-tcp-udp-configMapNamespace-values.yaml
Due: test-infra_deploy-prow

fix: sets namespace for secret to be customizable
  prow/setup-prow-deployer.sh
Due: test-infra_deploy-prow

fix: adds ns placeholders to crier roles
  prow/cluster/crier_rbac.yaml
Due: test-infra_deploy-prow

fix: adds missing -e param
  prow/update.sh
Due: test-infra_deploy-prow

Path conditions:
  test-infra_build-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_build-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile
  test-infra_deploy-prow: any of: ^prow/
  test-infra_push-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_push-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile
