Repository maistra/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-infra_build-containers, test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers

test-infra_build-containers:
  decorate: true
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.1
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - build-containers
      securityContext:
        privileged: true
      resources:
        limits:
          memory: 16Gi
          cpu: '4'
  ...

test-infra_build-proxy-containers:
  decorate: true
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.1
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - build-proxy-containers
      securityContext:
        privileged: true
      resources:
        limits:
          memory: 16Gi
          cpu: '4'
  ...

test-infra_deploy-prow:
  decorate: true
  labels:
    preset-prow-deployer: 'true'
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.0
      imagePullPolicy: Always
      command:
      - make
      - gen-check
      - update-prow
      resources:
        limits:
          memory: 4Gi
          cpu: '4'
        requests:
  ...

test-infra_push-containers:
  decorate: true
  labels:
    preset-quay-pusher: 'true'
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.0
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - maistra-builder.push
      securityContext:
        privileged: true
      resources:
        limits:
  ...

test-infra_push-proxy-containers:
  decorate: true
  labels:
    preset-quay-pusher: 'true'
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.0
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - maistra-proxy-builder.push
      securityContext:
        privileged: true
      resources:
        limits:
  ...

Add auto-merge label to generated PRs
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

Automatically update charts in 2.1 when they change in 1.0, 1.1 or 2.0 (#174)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

Automatically update charts in 2.0 when they change in 1.0 or 1.1
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

Run make gen instead of only updating the charts
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

Make gen
  prow/config.gen.yaml
Due: test-infra_deploy-prow

Just make gen (not make clean gen)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

MAISTRA-2487: Convert plugins.yaml to the new structure
  prow/plugins.yaml
Due: test-infra_deploy-prow

MAISTRA-2487: Convert plugins.yaml to the new structure (#176)
  prow/plugins.yaml
Due: test-infra_deploy-prow

Add infra to build envoy branch "main"
  Makefile
  docker/maistra-proxy-builder_main.Dockerfile
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-proxy-containers

Add infra to build envoy branch "main" (#177)
  Makefile
  docker/maistra-proxy-builder_main.Dockerfile
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-proxy-containers

Add xz
  docker/maistra-proxy-builder_main.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers

Add xz (#178)
  docker/maistra-proxy-builder_main.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers

Install GCC 9 and 11 in the main image
  docker/maistra-proxy-builder_main.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers

Install GCC 9 and 11 in the main image (#179)
  docker/maistra-proxy-builder_main.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers

Bump prow
  docker/maistra-builder_2.0.Dockerfile
  docker/maistra-builder_2.1.Dockerfile
  docker/maistra-proxy-builder_1.1.Dockerfile
  docker/maistra-proxy-builder_2.0.Dockerfile
  docker/maistra-proxy-builder_2.1.Dockerfile
  docker/maistra-proxy-builder_main.Dockerfile
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.gen.yaml
  prow/config/plank.yaml
Due: test-infra_build-containers, test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers

Bump prow (#180)
  docker/maistra-builder_2.0.Dockerfile
  docker/maistra-builder_2.1.Dockerfile
  docker/maistra-proxy-builder_1.1.Dockerfile
  docker/maistra-proxy-builder_2.0.Dockerfile
  docker/maistra-proxy-builder_2.1.Dockerfile
  docker/maistra-proxy-builder_main.Dockerfile
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.gen.yaml
  prow/config/plank.yaml
Due: test-infra_build-containers, test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers

MAISTRA-2717: Add automation for merging upstream changes
  Makefile
  docker/maistra-builder_main.Dockerfile
  docker/scripts/prow-entrypoint-main.sh
  prow/config.gen.yaml
  prow/config/periodics.yaml
  tools/automator-main.sh
  tools/utils.sh
Due: test-infra_build-containers, test-infra_deploy-prow, test-infra_push-containers

MAISTRA-2717: Add automation for merging upstream changes (#181)
  Makefile
  docker/maistra-builder_main.Dockerfile
  docker/scripts/prow-entrypoint-main.sh
  prow/config.gen.yaml
  prow/config/periodics.yaml
  tools/automator-main.sh
  tools/utils.sh
Due: test-infra_build-containers, test-infra_deploy-prow, test-infra_push-containers

Fix arguments in merge-upstream-envoy job
  prow/config.gen.yaml
  prow/config/periodics.yaml
Due: test-infra_deploy-prow

Fix arguments in merge-upstream-envoy job (#182)
  prow/config.gen.yaml
  prow/config/periodics.yaml
Due: test-infra_deploy-prow

Add the merge-strategy command line option to automator
  prow/config.gen.yaml
  prow/config/periodics.yaml
  tools/automator-main.sh
Due: test-infra_deploy-prow

Add the merge-strategy command line option to automator (#183)
  prow/config.gen.yaml
  prow/config/periodics.yaml
  tools/automator-main.sh
Due: test-infra_deploy-prow

MAISTRA-2640 Add multicluster integration tests to maistra/istio
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

MAISTRA-2640 Add multicluster integration tests to maistra/istio (#184)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Only run servicemesh mc integration tests
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Only run servicemesh mc integration tests (#185)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

MAISTRA-2640 Make maistra multicluster integration tests non-optional
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

No need for promu build (#170)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

OSSM-755 Update maistra-builder:2.1 to fedora:34
  docker/maistra-builder_2.1.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

MAISTRA-2640 Make maistra multicluster integration tests non-optional (#186)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

OSSM-830: New image for 2.2
  Makefile
  docker/maistra-builder_2.2.Dockerfile
  docker/scripts/docker-entrypoint.sh
Due: test-infra_build-containers, test-infra_push-containers

Disable build of "main" images
  Makefile
Due: none

OSSM-830: New image for 2.2 (#188)
  Makefile
  docker/maistra-builder_2.2.Dockerfile
  docker/scripts/docker-entrypoint.sh
Due: test-infra_build-containers, test-infra_push-containers

Add jobs for 2.2 branches
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add jobs for 2.2 branches (#189)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add mdl to 2.2 builder image
  docker/maistra-builder_2.2.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Mount overlay fs from host in integration tests
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Mount overlay fs from host in integration tests (#191)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add mdl to 2.2 builder image (#190)
  docker/maistra-builder_2.2.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Set Bazel version for 2.2
  docker/maistra-builder_2.2.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Path conditions:
  test-infra_build-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_build-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile
  test-infra_deploy-prow: any of: ^prow/
  test-infra_push-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_push-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile
