Repository maistra/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-infra_build-containers, test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers

test-infra_build-containers:
  decorate: true
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.1
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - build-containers
      securityContext:
        privileged: true
      resources:
        limits:
          memory: 16Gi
          cpu: '4'
  ...

test-infra_build-proxy-containers:
  decorate: true
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.1
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - build-proxy-containers
      securityContext:
        privileged: true
      resources:
        limits:
          memory: 16Gi
          cpu: '4'
  ...

test-infra_deploy-prow:
  decorate: true
  labels:
    preset-prow-deployer: 'true'
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.0
      imagePullPolicy: Always
      command:
      - make
      - gen-check
      - update-prow
      resources:
        limits:
          memory: 4Gi
          cpu: '4'
        requests:
  ...

test-infra_push-containers:
  decorate: true
  labels:
    preset-quay-pusher: 'true'
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.0
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - maistra-builder.push
      securityContext:
        privileged: true
      resources:
        limits:
  ...

test-infra_push-proxy-containers:
  decorate: true
  labels:
    preset-quay-pusher: 'true'
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.0
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - maistra-proxy-builder.push
      securityContext:
        privileged: true
      resources:
        limits:
  ...

Improve docs (#209)
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  docker/README.md
  prow/OPERATING.md
  prow/README.md
Due: test-infra_deploy-prow

Tidy jobs (#211)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add operator to the list of auto-merge
  prow/config.gen.yaml
  prow/config/tide.yaml
Due: test-infra_deploy-prow

Add operator to the list of auto-merge (#212)
  prow/config.gen.yaml
  prow/config/tide.yaml
Due: test-infra_deploy-prow

Install nodejs 12, needed by proxy
  docker/maistra-builder_2.2.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Install nodejs 12, needed by proxy (#213)
  docker/maistra-builder_2.2.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Add emsdk to 2.2 image
  docker/maistra-builder_2.2.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Add emsdk to 2.2 image (#214)
  docker/maistra-builder_2.2.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Added gcc-toolset-*-libasan-devel packages
  docker/maistra-builder_2.2.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Added gcc-toolset-*-libasan-devel packages (#215)
  docker/maistra-builder_2.2.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Create the cache nginx server
  prow/cluster/bazel-cache-configmap.yaml
  prow/cluster/bazel-cache-deployment.yaml
  prow/cluster/bazel-cache-service.yaml
Due: test-infra_deploy-prow

Adjust jobs to make use of remote bazel cache
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Make sure the bazel-cache tolerates the master node taint
  prow/cluster/bazel-cache-deployment.yaml
Due: test-infra_deploy-prow

Make sure the bazel-cache tolerates the master node taint (#217)
  prow/cluster/bazel-cache-deployment.yaml
Due: test-infra_deploy-prow

Install libstdc++-static in 2.2 builder image
  docker/maistra-builder_2.2.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Install libstdc++-static in 2.2 builder image (#218)
  docker/maistra-builder_2.2.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Added compiler-rt package for clang sanitizer support
  docker/maistra-builder_2.2.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Added compiler-rt package for clang sanitizer support (#219)
  docker/maistra-builder_2.2.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Bump prow version
  docker/maistra-builder_2.0.Dockerfile
  docker/maistra-builder_2.1.Dockerfile
  docker/maistra-builder_2.2.Dockerfile
  docker/maistra-proxy-builder_1.1.Dockerfile
  docker/maistra-proxy-builder_2.0.Dockerfile
  docker/maistra-proxy-builder_2.1.Dockerfile
  docker/maistra-proxy-builder_main.Dockerfile
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.gen.yaml
  prow/config/plank.yaml
Due: test-infra_build-containers, test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers

OSSM-1404: Add ghproxy deployment
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
Due: test-infra_deploy-prow

Add jwt_verify_lib to tide
  prow/config.gen.yaml
  prow/config/tide.yaml
  prow/plugins.yaml
Due: test-infra_deploy-prow

Add jwt_verify_lib to tide (#221)
  prow/config.gen.yaml
  prow/config/tide.yaml
  prow/plugins.yaml
Due: test-infra_deploy-prow

feat(jobs): adds merge conflict workflow
  prow/config/postsubmits.yaml
  prow/config/presets.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

feat(prow): introduces patch propagation plugin
  prow/cluster/patch_propagator_deployment.yaml
  prow/cluster/patch_propagator_service.yaml
  prow/plugins.yaml
Due: test-infra_deploy-prow

fix: applies make gen
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

fix: removes redundant optional:false
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

fix: applies make gen
  prow/config.gen.yaml
Due: test-infra_deploy-prow

fix: adds resource constraints
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

OSSM-1554 Add prow jobs for 'maistra' branch
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

OSSM-1554 Add prow jobs for 'maistra' branch (#222)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add initial 2.3 image, capable of building Envoy 1.22
  Makefile
  docker/maistra-builder_2.3.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Vale is not working on 2.0
  docker/maistra-builder_2.0.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Adjustements to make 2.2 image build
  docker/maistra-builder_2.2.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Vale is not working on 2.1
  docker/maistra-builder_2.1.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Path conditions:
  test-infra_build-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_build-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile
  test-infra_deploy-prow: any of: ^prow/
  test-infra_push-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_push-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile
