Repository maistra/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-infra_build-containers, test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers

Path conditions:
  test-infra_build-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_build-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile
  test-infra_deploy-prow: any of: ^prow/
  test-infra_push-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_push-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile

fix(hook): adds missing flag for gh token
  prow/cluster/hook_deployment.yaml
Due: test-infra_deploy-prow

fix: creates test-pod ns instead of evaluating ns as cmd...
  prow/create.sh
Due: test-infra_deploy-prow

fix: skips if secret creation fails
  prow/create.sh
Due: test-infra_deploy-prow

fix: skips if secret creation fails
  prow/setup-prow-deployer.sh
Due: test-infra_deploy-prow

chore: calls gen-config like other scripts
  prow/update.sh
Due: test-infra_deploy-prow

fix: replaces all ns placeholders using sed
  prow/gen-config.sh
  prow/update.sh
Due: test-infra_deploy-prow

automator: Fix branch name guessing
  tools/automator.sh
Due: none

automator: Fix branch name guessing (#95)
  tools/automator.sh
Due: none

fix(ns): makes namespaces customizable (#94)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/cherrypicker_service.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/crier_rbac.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/deck_rbac.yaml
  prow/cluster/deck_service.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/hook_rbac.yaml
  prow/cluster/hook_service.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/horologium_rbac.yaml
  prow/cluster/ingress.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/plank_rbac.yaml
  prow/cluster/plank_service.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/sinker_rbac.yaml
  prow/cluster/sinker_service.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/statusreconciler_rbac.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tide_rbac.yaml
  prow/cluster/tide_service.yaml
  prow/config/prow.yaml
  prow/create.sh
  prow/gen-config.sh
  prow/setup-prow-deployer.sh
  prow/update.sh
Due: test-infra_deploy-prow

feat: adjustements for brno cluster
  prow/cluster_out/cherrypicker_deployment.yaml
  prow/cluster_out/cherrypicker_service.yaml
  prow/cluster_out/ingress.yaml
  prow/cluster_out/letsencrypt.yaml
  prow/cluster_out/tide_deployment.yaml
  prow/cluster_out/tide_rbac.yaml
  prow/cluster_out/tide_service.yaml
  prow/config.gen.yaml
  prow/config_out/branch-protection.yaml
  prow/config_out/postsubmits.yaml
  prow/config_out/presets.yaml
  prow/config_out/presubmits.yaml
  prow/config_out/tide.yaml
  prow/create.sh
  prow/plugins.yaml
  prow/update.sh
Due: test-infra_deploy-prow

fix: exit execution on command failure
  docker/scripts/istio-workspace.sh
Due: test-infra_build-containers, test-infra_push-containers

fix: add telepresence
  docker/istio-workspace-builder.Dockerfile
Due: none

feat: Add istio-workspace builder
  docker/istio-workspace-builder.Dockerfile
  docker/scripts/istio-workspace.sh
Due: test-infra_build-containers, test-infra_push-containers

fix: add crier to given namespace
  prow/cluster/crier_rbac.yaml
Due: test-infra_deploy-prow

feat: add trigger plugin to maistra/istio-workspace
  prow/plugins.yaml
Due: test-infra_deploy-prow

fix: add watch rbac for deck
  prow/cluster/deck_rbac.yaml
Due: test-infra_deploy-prow

fix: use PR-"PULL_NUMBER" as image tag to hit images built by circle
  docker/scripts/istio-workspace.sh
Due: test-infra_build-containers, test-infra_push-containers

feat: extract credentialts to secrets
  README.md
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

chore: cleans up bash script
  docker/scripts/istio-workspace.sh
Due: test-infra_build-containers, test-infra_push-containers

chore: brings back tide
  prow/cluster/tide_deployment.yaml
  prow/cluster/tide_rbac.yaml
  prow/cluster/tide_service.yaml
  prow/config/tide.yaml
  prow/config_out/tide.yaml
Due: test-infra_deploy-prow

fix: enables builds to be run against forked PRs
  docker/istio-workspace-builder.Dockerfile
  docker/scripts/ike-builder-gitconfig
  docker/scripts/istio-workspace.sh
Due: test-infra_build-containers, test-infra_push-containers

chore: adds end-line
  docker/scripts/ike-builder-gitconfig
Due: test-infra_build-containers, test-infra_push-containers

chore: extends gitignore to handle IDEs
  .gitignore
Due: none

chore: uses $() instead of legacy backticks
  docker/scripts/istio-workspace.sh
Due: test-infra_build-containers, test-infra_push-containers

fix: wrong cred mapping
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

fix: give plank prowjob watch rights
  prow/cluster/plank_rbac.yaml
Due: test-infra_deploy-prow

feat: enable decorate to auto store build logs
  docker/istio-workspace-builder.Dockerfile
  docker/scripts/istio-workspace.sh
  prow/config/plank.yaml
  prow/config/presubmits.yaml
Due: test-infra_build-containers, test-infra_deploy-prow, test-infra_push-containers

Update config.gen.yaml
  prow/config.gen.yaml
Due: test-infra_deploy-prow

Disable lgtm plugin and fix branch protections config
  prow/config/branch-protection.yaml
  prow/plugins.yaml
Due: test-infra_deploy-prow

Configure istio to use tide (#89)
  prow/config.gen.yaml
  prow/config/branch-protection.yaml
  prow/config/tide.yaml
  prow/plugins.yaml
Due: test-infra_deploy-prow

Do not squash PR's based on labels
  prow/config.gen.yaml
  prow/config/tide.yaml
Due: test-infra_deploy-prow

Do not squash PR's based on labels (#96)
  prow/config.gen.yaml
  prow/config/tide.yaml
Due: test-infra_deploy-prow

Bump prow
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.gen.yaml
  prow/config/plank.yaml
Due: test-infra_deploy-prow

Bump prow (#97)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.gen.yaml
  prow/config/plank.yaml
Due: test-infra_deploy-prow

Bump k8s test-infra tools to match deployed version
  docker/maistra-builder_2.0.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Also change proxy image
  docker/maistra-proxy-builder_2.0.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers

Fix Power Tools repo name
  docker/maistra-proxy-builder_2.0.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers

Fix Power Tools repo name in 1.1 as well
  docker/maistra-proxy-builder_1.1.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers
