Repository maistra/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-infra_build-containers, test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers, test-infra_build-containers-2.0, test-infra_build-containers-2.1, test-infra_build-containers-2.2, test-infra_build-containers-2.3, test-infra_build-proxy-containers-2.1, test-infra_build-proxy-containers-2.0

test-infra_build-containers:
  decorate: true
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.1
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - build-containers
      securityContext:
        privileged: true
      resources:
        limits:
          memory: 16Gi
          cpu: '4'
  ...

test-infra_build-proxy-containers:
  decorate: true
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.1
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - build-proxy-containers
      securityContext:
        privileged: true
      resources:
        limits:
          memory: 16Gi
          cpu: '4'
  ...

test-infra_deploy-prow:
  decorate: true
  labels:
    preset-prow-deployer: 'true'
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.0
      imagePullPolicy: Always
      command:
      - make
      - gen-check
      - update-prow
      resources:
        limits:
          memory: 4Gi
          cpu: '4'
        requests:
  ...

test-infra_push-containers:
  decorate: true
  labels:
    preset-quay-pusher: 'true'
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.0
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - maistra-builder.push
      securityContext:
        privileged: true
      resources:
        limits:
  ...

test-infra_push-proxy-containers:
  decorate: true
  labels:
    preset-quay-pusher: 'true'
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.0
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - maistra-proxy-builder.push
      securityContext:
        privileged: true
      resources:
        limits:
  ...

test-infra_build-containers-2.0:
  decorate: true
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.0
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - build-containers-2.0
      securityContext:
        privileged: true
      volumeMounts:
      - mountPath: /var/lib/docker
  ...

test-infra_build-containers-2.1:
  decorate: true
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.1
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - build-containers-2.1
      securityContext:
        privileged: true
      volumeMounts:
      - mountPath: /var/lib/docker
  ...

test-infra_build-containers-2.2:
  decorate: true
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.2
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - build-containers-2.2
      securityContext:
        privileged: true
      volumeMounts:
      - mountPath: /var/lib/docker
  ...

Trigger a new build of 2.3 image
  docker/maistra-builder_2.3.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers, test-infra_build-containers-2.3

Trigger a new build of 2.3 image (#278)
  docker/maistra-builder_2.3.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers, test-infra_build-containers-2.3

Remove jobs unit, lint and gen-check for Istio 2.3 (#266)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Remove operator jobs that migrated to OpenShift CI
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Remove operator jobs that migrated to OpenShift CI (#279)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Remove 1.1 jobs
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Remove 1.1 jobs (#280)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Fix the daily build
  prow/config.gen.yaml
  prow/config/periodics.yaml
Due: test-infra_deploy-prow

Fix the daily build (#281)
  prow/config.gen.yaml
  prow/config/periodics.yaml
Due: test-infra_deploy-prow

Remove xns-informer jobs that were migrated to OpenShift CI
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Remove xns-informer jobs that were migrated to OpenShift CI (#282)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Remove API jobs that were moved to OpenShift CI
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Remove API jobs that were moved to OpenShift CI (#283)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Remove istio jobs that moved to OpenShift CI
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Remove istio jobs that moved to OpenShift CI (#284)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add CONTAINER_CLI var for maistra-2.2 daily builds
  prow/config.gen.yaml
  prow/config/periodics.yaml
Due: test-infra_deploy-prow

Fix daily build for 2.3
  prow/config.gen.yaml
  prow/config/presets.yaml
Due: test-infra_deploy-prow

Fix daily build for 2.3 (#286)
  prow/config.gen.yaml
  prow/config/presets.yaml
Due: test-infra_deploy-prow

Fix daily build for 2.3
  prow/config.gen.yaml
  prow/config/periodics.yaml
Due: test-infra_deploy-prow

Fix daily build for 2.3 (#287)
  prow/config.gen.yaml
  prow/config/periodics.yaml
Due: test-infra_deploy-prow

OSSM-2175: Allow writes to /rust dir
  docker/maistra-builder_2.2.Dockerfile
  docker/maistra-builder_2.3.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers, test-infra_build-containers-2.2, test-infra_build-containers-2.3

OSSM-2175: Allow writes to /rust dir (#288)
  docker/maistra-builder_2.2.Dockerfile
  docker/maistra-builder_2.3.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers, test-infra_build-containers-2.2, test-infra_build-containers-2.3

OSSM-2175: Jobs for header-append-filter
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

OSSM-2175: Jobs for header-append-filter (#289)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Fix the post-submit job for header-append
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

Fix the post-submit job for header-append (#290)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

OSSM-1931: created node_modules folder in /opt/emdsk to install acorn module
  docker/maistra-builder_2.3.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers, test-infra_build-containers-2.3

OSSM-2158: New image builder for 2.4
  Makefile
  docker/maistra-builder_2.4.Dockerfile
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_build-containers, test-infra_deploy-prow, test-infra_push-containers

OSSM-2158: New image builder for 2.4 (#292)
  Makefile
  docker/maistra-builder_2.4.Dockerfile
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_build-containers, test-infra_deploy-prow, test-infra_push-containers

OSSM-2154: Initial prow jobs for Envoy
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

OSSM-2154: Initial prow jobs for Envoy (#293)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

OSSM-2153: adds maistra-2.4 jobs
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

fix: uses maistra builder image.
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

fix: comments out mod=vendor flag for upstream test builds
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

chore: removes irrelevant FIXMEs
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

fix: removes commented mod=vendor flags
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

OSSM-2153: adds maistra-2.4 presubmit jobs (#294)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

OSSM-2158: Add fpm to 2.4 image
  docker/maistra-builder_2.4.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

OSSM-2158: Add fpm to 2.4 image (#295)
  docker/maistra-builder_2.4.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

OSSM-2158: Install mdl to 2.4 image
  docker/maistra-builder_2.4.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Path conditions:
  test-infra_build-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_build-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile
  test-infra_deploy-prow: any of: ^prow/
  test-infra_push-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_push-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile
  test-infra_build-containers-2.0: any of: ^docker/maistra-builder_2\.0\.Dockerfile|^docker/scripts
  test-infra_build-containers-2.1: any of: ^docker/maistra-builder_2\.1\.Dockerfile|^docker/scripts
  test-infra_build-containers-2.2: any of: ^docker/maistra-builder_2\.2\.Dockerfile|^docker/scripts
  test-infra_build-containers-2.3: any of: ^docker/maistra-builder_2\.3\.Dockerfile|^docker/scripts
  test-infra_build-proxy-containers-2.1: any of: ^docker/maistra-proxy-builder_2\.1\.Dockerfile
  test-infra_build-proxy-containers-2.0: any of: ^docker/maistra-proxy-builder_2\.0\.Dockerfile
