Repository maistra/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-infra_build-containers-2.1, test-infra_build-containers-2.2, test-infra_build-containers-2.3, test-infra_build-containers-2.4, test-infra_build-containers-3.0, test-infra_build-proxy-containers-2.1, test-infra_deploy-prow, test-infra_push-containers-2.1, test-infra_push-containers-2.2, test-infra_push-containers-2.3, test-infra_push-containers-2.4, test-infra_push-containers-3.0, test-infra_push-proxy-containers-2.1, test-infra_push-containers, test-infra_push-proxy-containers

test-infra_build-containers-2.1:
  decorate: true
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.1
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - build-containers-2.1
      securityContext:
        privileged: true
      volumeMounts:
      - mountPath: /var/lib/docker
  ...

test-infra_build-containers-2.2:
  decorate: true
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.2
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - build-containers-2.2
      securityContext:
        privileged: true
      volumeMounts:
      - mountPath: /var/lib/docker
  ...

test-infra_build-containers-2.3:
  decorate: true
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.3
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - build-containers-2.3
      securityContext:
        privileged: true
      volumeMounts:
      - mountPath: /var/lib/docker
  ...

test-infra_build-containers-2.4:
  decorate: true
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.4
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - build-containers-2.4
      securityContext:
        privileged: true
      volumeMounts:
      - mountPath: /var/lib/docker
  ...

test-infra_build-containers-3.0:
  decorate: true
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:3.0
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - build-containers-3.0
      securityContext:
        privileged: true
      volumeMounts:
      - mountPath: /var/lib/docker
  ...

test-infra_build-proxy-containers-2.1:
  decorate: true
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.1
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - maistra-proxy-builder_2.1
      securityContext:
        privileged: true
      volumeMounts:
      - mountPath: /var/lib/docker
  ...

test-infra_deploy-prow:
  decorate: true
  labels:
    preset-prow-deployer: 'true'
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.3
      imagePullPolicy: Always
      command:
      - make
      - gen-check
      - update-prow
      resources:
        limits:
          memory: 4Gi
          cpu: '4'
        requests:
  ...

test-infra_push-containers-2.1:
  decorate: true
  labels:
    preset-quay-pusher: 'true'
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.1
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - maistra-builder_2.1.push
      securityContext:
        privileged: true
      volumeMounts:
  ...

Remove override plugin (#350)
  prow/plugins.yaml
Due: test-infra_deploy-prow

Remove cherrypicker
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/cherrypicker_service.yaml
  prow/plugins.yaml
Due: test-infra_deploy-prow

Remove cherrypicker (#351)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/cherrypicker_service.yaml
  prow/plugins.yaml
Due: test-infra_deploy-prow

OSSM-3728: removing jobs which have been migrated to OpenShiftCI https://github.com/openshift/release/pull/38709
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Update autopep8 versoin to 2.0.2
  docker/maistra-builder_2.1.Dockerfile
  docker/maistra-builder_2.2.Dockerfile
  docker/maistra-builder_2.3.Dockerfile
  docker/maistra-builder_2.4.Dockerfile
  docker/maistra-builder_3.0.Dockerfile
  docker/maistra-builder_main.Dockerfile
Due: test-infra_build-containers-2.1, test-infra_build-containers-2.2, test-infra_build-containers-2.3, test-infra_build-containers-2.4, test-infra_build-containers-3.0, test-infra_push-containers-2.1, test-infra_push-containers-2.2, test-infra_push-containers-2.3, test-infra_push-containers-2.4, test-infra_push-containers-3.0, test-infra_push-containers

OSSM-3728: removing jobs which have been migrated to OpenShiftCI (#352)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

OSSM-3666: mirgrate test-infra presubmit and postsubmit jobs
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

OSSM-3666: mirgrate test-infra presubmit and postsubmit jobs (#355)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

OSSM-3734: Migrate header-append-filter jobs
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

OSSM-3734: Migrate header-append-filter jobs (#356)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

OSSM-3270: migrate proxy postsubmit jobs
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

mirgate proxy-update-istio job
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

OSSM-3270: migrate proxy postsubmit jobs (#357)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

OSSM-373x: mirgate api istio operator post jobs
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

OSSM-373x: mirgate api istio operator post jobs (#358)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

Downgrade clang version to 13
  docker/maistra-builder_2.4.Dockerfile
Due: test-infra_build-containers-2.4, test-infra_push-containers-2.4, test-infra_push-containers

Downgrade clang version to 13 (#359)
  docker/maistra-builder_2.4.Dockerfile
Due: test-infra_build-containers-2.4, test-infra_push-containers-2.4, test-infra_push-containers

Fix istio integ test runs when running docker buildx
  docker/maistra-builder_2.2.Dockerfile
  docker/maistra-builder_2.3.Dockerfile
  docker/maistra-builder_2.4.Dockerfile
  docker/maistra-builder_3.0.Dockerfile
  docker/maistra-builder_main.Dockerfile
Due: test-infra_build-containers-2.2, test-infra_build-containers-2.3, test-infra_build-containers-2.4, test-infra_build-containers-3.0, test-infra_push-containers-2.2, test-infra_push-containers-2.3, test-infra_push-containers-2.4, test-infra_push-containers-3.0, test-infra_push-containers

revert change in builder_main dockerfile
  docker/maistra-builder_main.Dockerfile
Due: test-infra_push-containers

Fix istio integ test runs when running docker buildx (#361)
  docker/maistra-builder_2.2.Dockerfile
  docker/maistra-builder_2.3.Dockerfile
  docker/maistra-builder_2.4.Dockerfile
  docker/maistra-builder_3.0.Dockerfile
Due: test-infra_build-containers-2.2, test-infra_build-containers-2.3, test-infra_build-containers-2.4, test-infra_build-containers-3.0, test-infra_push-containers-2.2, test-infra_push-containers-2.3, test-infra_push-containers-2.4, test-infra_push-containers-3.0, test-infra_push-containers

OSSM-3531: Provide maistra-2.4 multi arch builder image
  docker/README.md
  docker/multi_arch_maistra-builder.Dockerfile
Due: none

Update maistra builder 2.4 image
  docker/maistra-builder_2.4.Dockerfile
  docker/multi_arch_maistra-builder.Dockerfile
Due: test-infra_build-containers-2.4, test-infra_push-containers-2.4, test-infra_push-containers

enable repoes
  docker/maistra-builder_2.4.Dockerfile
Due: test-infra_build-containers-2.4, test-infra_push-containers-2.4, test-infra_push-containers

debug
  docker/maistra-builder_2.4.Dockerfile
Due: test-infra_build-containers-2.4, test-infra_push-containers-2.4, test-infra_push-containers

OSSM-4184 provide a dev image
  docker/maistra-dev/.gitignore
  docker/maistra-dev/Dockerfile
  docker/maistra-dev/README.md
  docker/maistra-dev/maistra-dev.mk
Due: none

Remove 2.1 maistra prow jobs
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Remove 2.1 maistra prow jobs (#363)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

OSSM-4206: Add builder image 2.5
  docker/maistra-builder_2.5.Dockerfile
Due: test-infra_push-containers

Sync versions with 1.18
  docker/maistra-builder_2.5.Dockerfile
Due: test-infra_push-containers

Add makefile target
  Makefile
Due: none

OSSM-4206: Add builder image 2.5 (#364)
  Makefile
  docker/maistra-builder_2.5.Dockerfile
Due: test-infra_push-containers

debug postsubmit job
  docker/maistra-builder_2.5.Dockerfile
Due: test-infra_push-containers

debug postsubmit job (#366)
  docker/maistra-builder_2.5.Dockerfile
Due: test-infra_push-containers

ignore-me
  README.md
Due: none

OSSM-4216 Remove maistra 2.1 builder image
  docker/maistra-builder_2.1.Dockerfile
  docker/maistra-proxy-builder_2.1.Dockerfile
Due: test-infra_build-containers-2.1, test-infra_build-proxy-containers-2.1, test-infra_push-containers-2.1, test-infra_push-proxy-containers-2.1, test-infra_push-containers, test-infra_push-proxy-containers

Remove main branch builder image
  docker/maistra-builder_main.Dockerfile
  docker/maistra-proxy-builder_main.Dockerfile
Due: test-infra_push-containers, test-infra_push-proxy-containers

Cleanup Makefile 2.1 builder image targets
  Makefile
Due: none

OSSM-4216 Remove maistra 2.1 builder image
  docker/maistra-builder_2.1.Dockerfile
  docker/maistra-builder_main.Dockerfile
  docker/maistra-proxy-builder_2.1.Dockerfile
  docker/maistra-proxy-builder_main.Dockerfile
Due: test-infra_build-containers-2.1, test-infra_build-proxy-containers-2.1, test-infra_push-containers-2.1, test-infra_push-proxy-containers-2.1, test-infra_push-containers, test-infra_push-proxy-containers

Path conditions:
  test-infra_build-containers-2.1: any of: ^docker/maistra-builder_2\.1\.Dockerfile|^docker/scripts
  test-infra_build-containers-2.2: any of: ^docker/maistra-builder_2\.2\.Dockerfile|^docker/scripts
  test-infra_build-containers-2.3: any of: ^docker/maistra-builder_2\.3\.Dockerfile|^docker/scripts
  test-infra_build-containers-2.4: any of: ^docker/maistra-builder_2\.4\.Dockerfile|^docker/scripts
  test-infra_build-containers-3.0: any of: ^docker/maistra-builder_3\.0\.Dockerfile|^docker/scripts
  test-infra_build-proxy-containers-2.1: any of: ^docker/maistra-proxy-builder_2\.1\.Dockerfile
  test-infra_deploy-prow: any of: ^prow/
  test-infra_push-containers-2.1: any of: ^docker/maistra-builder_2\.1\.Dockerfile|^docker/scripts
  test-infra_push-containers-2.2: any of: ^docker/maistra-builder_2\.2\.Dockerfile|^docker/scripts
  test-infra_push-containers-2.3: any of: ^docker/maistra-builder_2\.3\.Dockerfile|^docker/scripts
  test-infra_push-containers-2.4: any of: ^docker/maistra-builder_2\.4\.Dockerfile|^docker/scripts
  test-infra_push-containers-3.0: any of: ^docker/maistra-builder_3\.0\.Dockerfile|^docker/scripts
  test-infra_push-proxy-containers-2.1: any of: ^docker/maistra-proxy-builder_2\.1\.Dockerfile
  test-infra_push-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_push-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile
