Repository maistra/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-infra_build-containers, test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers, test-infra_build-containers-2.0, test-infra_build-containers-2.1, test-infra_build-containers-2.2, test-infra_build-containers-2.3, test-infra_build-proxy-containers-2.1, test-infra_build-proxy-containers-2.0

Path conditions:
  test-infra_build-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_build-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile
  test-infra_deploy-prow: any of: ^prow/
  test-infra_push-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_push-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile
  test-infra_build-containers-2.0: any of: ^docker/maistra-builder_2\.0\.Dockerfile|^docker/scripts
  test-infra_build-containers-2.1: any of: ^docker/maistra-builder_2\.1\.Dockerfile|^docker/scripts
  test-infra_build-containers-2.2: any of: ^docker/maistra-builder_2\.2\.Dockerfile|^docker/scripts
  test-infra_build-containers-2.3: any of: ^docker/maistra-builder_2\.3\.Dockerfile|^docker/scripts
  test-infra_build-proxy-containers-2.1: any of: ^docker/maistra-proxy-builder_2\.1\.Dockerfile
  test-infra_build-proxy-containers-2.0: any of: ^docker/maistra-proxy-builder_2\.0\.Dockerfile

OSSM-1967 Add validation istio-images job
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

OSSM-1967 Add validation istio-images job (#262)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Fix images validation job
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Fix images validation job (#263)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Remove jobs for Istio Operator 2.3
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Remove jobs for Istio Operator 2.2
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Remove jobs unit, lint and gen-check for Istio 2.1
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Remove jobs unit, lint and gen-check for Istio 2.2
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Remove redundant jobs for Istio and Istio Operator (#264)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Remove istio-images-centos lint jobs
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Remove istio-images-centos lint jobs (#265)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Fix daily-images jobs
  prow/config.gen.yaml
  prow/config/periodics.yaml
Due: test-infra_deploy-prow

Remove jobs unit, lint and gen-check for Istio 2.3
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Ignore non-prow statuses on PRs
  prow/config.gen.yaml
  prow/config/tide.yaml
Due: test-infra_deploy-prow

Ignore non-prow statuses on PRs (#267)
  prow/config.gen.yaml
  prow/config/tide.yaml
Due: test-infra_deploy-prow

Revert "Remove redundant jobs for Istio and Istio Operator (#264)"
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Revert "Remove redundant jobs for Istio and Istio Operator (#264)" (#268)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

OSSM-743 Add daily community container images build (#261)
  prow/config.gen.yaml
  prow/config/periodics.yaml
Due: test-infra_deploy-prow

Align 2.3 image with upstream 1.14
  docker/maistra-builder_2.3.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers, test-infra_build-containers-2.3

Align 2.3 image with upstream 1.14 (#269)
  docker/maistra-builder_2.3.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers, test-infra_build-containers-2.3

Install protoc-gen-deepcopy in maistra-builder:2.3
  docker/maistra-builder_2.3.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers, test-infra_build-containers-2.3

Fix shellcheck error
  tools/automator-main.sh
Due: none

Install istio.io/tools/cmd/protoc-gen-deepcopy
  docker/maistra-builder_2.3.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers, test-infra_build-containers-2.3

Split post-submit push jobs
  Makefile
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

Supress a shellcheck warning
  tools/automator-main.sh
Due: none

Fix the error with libatomic on 2.3
  docker/maistra-builder_2.3.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers, test-infra_build-containers-2.3

Fix `error creating aufs mount` error
  Makefile
Due: none

Fix test-infra post submit jobs
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

Fix test-infra post submit jobs (#273)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

Get default HUB default value quay.io/maistra-dev
  prow/config.gen.yaml
  prow/config/periodics.yaml
Due: test-infra_deploy-prow

Get default HUB default value quay.io/maistra-dev (#274)
  prow/config.gen.yaml
  prow/config/periodics.yaml
Due: test-infra_deploy-prow

Align 2.3 image with upstream 1.14 (#275)
  docker/maistra-builder_2.3.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers, test-infra_build-containers-2.3

Install acorn module in /opt/emsdk (OSSM-1931)
  docker/maistra-builder_2.3.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers, test-infra_build-containers-2.3

Adapt the check for yq
  scripts/check-resource-limits.sh
Due: none

Adapt the check for yq (#277)
  scripts/check-resource-limits.sh
Due: none
