Repository maistra/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-infra_build-containers, test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers

Path conditions:
  test-infra_build-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_build-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile
  test-infra_deploy-prow: any of: ^prow/
  test-infra_push-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_push-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile

Set Bazel version for 2.2 (#192)
  docker/maistra-builder_2.2.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Don't cleanup twice
  docker/scripts/prow-entrypoint-main.sh
Due: test-infra_build-containers, test-infra_push-containers

Fix the volume mount for 2.2 jobs
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add rpm-build to 2.2 image
  docker/maistra-builder_2.2.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Add rpm-build to 2.2 image (#194)
  docker/maistra-builder_2.2.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Attempt to fix the job hanging forever
  docker/scripts/prow-entrypoint-main.sh
Due: test-infra_build-containers, test-infra_push-containers

Attempt to fix the job hanging forever (#195)
  docker/scripts/prow-entrypoint-main.sh
Due: test-infra_build-containers, test-infra_push-containers

Bump prow
  docker/maistra-builder_2.0.Dockerfile
  docker/maistra-builder_2.1.Dockerfile
  docker/maistra-builder_2.2.Dockerfile
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.gen.yaml
  prow/config/plank.yaml
Due: test-infra_build-containers, test-infra_deploy-prow, test-infra_push-containers

Bump prow (#196)
  docker/maistra-builder_2.0.Dockerfile
  docker/maistra-builder_2.1.Dockerfile
  docker/maistra-builder_2.2.Dockerfile
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.gen.yaml
  prow/config/plank.yaml
Due: test-infra_build-containers, test-infra_deploy-prow, test-infra_push-containers

Fix proxy image name for 2.2
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Remove proxy clang jobs
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add missing pieces to run envoy build&tests
  docker/maistra-builder_2.2.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Fix the volume mount for 2.2 jobs (#199)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add missing pieces to run envoy build&tests (#198)
  docker/maistra-builder_2.2.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

chore(infra): bumps prow to latest release
  docker/maistra-builder_2.0.Dockerfile
  docker/maistra-builder_2.1.Dockerfile
  docker/maistra-builder_2.2.Dockerfile
  docker/maistra-proxy-builder_1.1.Dockerfile
  docker/maistra-proxy-builder_2.0.Dockerfile
  docker/maistra-proxy-builder_2.1.Dockerfile
  docker/maistra-proxy-builder_main.Dockerfile
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.gen.yaml
  prow/config/plank.yaml
Due: test-infra_build-containers, test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers

feat(git): excludes IDE-related folders
  .gitignore
Due: none

fix(prow): adds missing watch for prowjobs in hook and hologrium
  prow/cluster/hook_rbac.yaml
  prow/cluster/horologium_rbac.yaml
Due: test-infra_deploy-prow

fix(gen-config): adds extra line between files
  prow/config.gen.yaml
  prow/gen-config.sh
Due: test-infra_deploy-prow

fix(prow): ensures proper ns is used in scripts
  prow/create.sh
  prow/update.sh
Due: test-infra_deploy-prow

fix(gen-config): adds extra line between files (#203)
  prow/config.gen.yaml
  prow/gen-config.sh
Due: test-infra_deploy-prow

fix(prow): ensures proper ns is used in scripts (#204)
  prow/create.sh
  prow/update.sh
Due: test-infra_deploy-prow

feat(git): excludes IDE-related folders (#201)
  .gitignore
Due: none

fix(prow): adds missing watch for prowjobs in hook and hologrium (#202)
  prow/cluster/hook_rbac.yaml
  prow/cluster/horologium_rbac.yaml
Due: test-infra_deploy-prow

fix(docker): switches to centos:stream8 base image
  docker/maistra-proxy-builder_1.1.Dockerfile
  docker/maistra-proxy-builder_2.0.Dockerfile
  docker/maistra-proxy-builder_2.1.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers

Use upstream image for 2.2 integration tests
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Use upstream image for 2.2 integration tests (#205)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

fix(docker): switches to centos:stream8 base image (#206)
  docker/maistra-proxy-builder_1.1.Dockerfile
  docker/maistra-proxy-builder_2.0.Dockerfile
  docker/maistra-proxy-builder_2.1.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers

chore(infra): bumps prow to latest release (#200)
  docker/maistra-builder_2.0.Dockerfile
  docker/maistra-builder_2.1.Dockerfile
  docker/maistra-builder_2.2.Dockerfile
  docker/maistra-proxy-builder_1.1.Dockerfile
  docker/maistra-proxy-builder_2.0.Dockerfile
  docker/maistra-proxy-builder_2.1.Dockerfile
  docker/maistra-proxy-builder_main.Dockerfile
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.gen.yaml
  prow/config/plank.yaml
Due: test-infra_build-containers, test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers

Fix golang in proxy images
  docker/maistra-proxy-builder_1.1.Dockerfile
  docker/maistra-proxy-builder_2.0.Dockerfile
  docker/maistra-proxy-builder_2.1.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers

Fix golang in proxy images (#207)
  docker/maistra-proxy-builder_1.1.Dockerfile
  docker/maistra-proxy-builder_2.0.Dockerfile
  docker/maistra-proxy-builder_2.1.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers

Add missing xz to proxy images
  docker/maistra-proxy-builder_1.1.Dockerfile
  docker/maistra-proxy-builder_2.0.Dockerfile
  docker/maistra-proxy-builder_2.1.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers

Add missing xz to proxy images (#208)
  docker/maistra-proxy-builder_1.1.Dockerfile
  docker/maistra-proxy-builder_2.0.Dockerfile
  docker/maistra-proxy-builder_2.1.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers

Improve docs
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  docker/README.md
  prow/OPERATING.md
  prow/README.md
Due: test-infra_deploy-prow

Upgrade CentOS-based container images to CentOS Stream
  docker/maistra-proxy-builder_1.1.Dockerfile
  docker/maistra-proxy-builder_2.0.Dockerfile
  docker/maistra-proxy-builder_2.1.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers

Tidy jobs
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow
