Repository maistra/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-infra_build-containers, test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers

test-infra_build-containers:
  decorate: true
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:1.2
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - build-containers
      securityContext:
        privileged: true
      resources:
        limits:
          memory: 16Gi
        requests:
  ...

test-infra_build-proxy-containers:
  decorate: true
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:1.2
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - build-proxy-containers
      securityContext:
        privileged: true
      resources:
        limits:
          memory: 16Gi
        requests:
  ...

test-infra_deploy-prow:
  decorate: true
  labels:
    preset-prow-deployer: 'true'
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:1.2
      imagePullPolicy: Always
      command:
      - make
      - gen-check
      - update-prow
      resources:
        limits:
          memory: 4Gi
        requests:
          cpu: '2'
  ...

test-infra_push-containers:
  decorate: true
  labels:
    preset-quay-pusher: 'true'
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:1.2
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - maistra-builder.push
      securityContext:
        privileged: true
      resources:
        limits:
  ...

test-infra_push-proxy-containers:
  decorate: true
  labels:
    preset-quay-pusher: 'true'
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:1.2
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - maistra-proxy-builder.push
      securityContext:
        privileged: true
      resources:
        limits:
  ...

Change references to 1.2 images to 2.0
  docker/maistra-builder_1.2.Dockerfile
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_build-containers, test-infra_deploy-prow, test-infra_push-containers

Bump k8s test-infra versions automatically too
  tools/bump_prow.sh
Due: none

Run the previous script and commit the result
  docker/maistra-builder_2.0.Dockerfile
  docker/maistra-proxy-builder_1.1.Dockerfile
  docker/maistra-proxy-builder_2.0.Dockerfile
Due: test-infra_build-containers, test-infra_build-proxy-containers, test-infra_push-containers, test-infra_push-proxy-containers

Backport the fix for the gobin issue to 1.1
  docker/maistra-proxy-builder_1.1.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers

Change references to 1.2 images to 2.0 (#99)
  docker/maistra-builder_1.2.Dockerfile
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_build-containers, test-infra_deploy-prow, test-infra_push-containers

Add tide to other maistra repos
  prow/config.gen.yaml
  prow/config/tide.yaml
  prow/plugins.yaml
Due: test-infra_deploy-prow

Add tide to other maistra repos (#101)
  prow/config.gen.yaml
  prow/config/tide.yaml
  prow/plugins.yaml
Due: test-infra_deploy-prow

Remove broken post-submit jobs
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

Remove broken post-submit jobs (#102)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

Fix docker tools location
  docker/maistra-builder_2.0.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Fix docker tools location (#103)
  docker/maistra-builder_2.0.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Use docker-ce, not moby for 2.0
  docker/maistra-builder_2.0.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Use docker-ce, not moby for 2.0 (#104)
  docker/maistra-builder_2.0.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Add support for maistra/istio's maistra-2.1 branch
  Makefile
  docker/maistra-builder_2.1.Dockerfile
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_build-containers, test-infra_deploy-prow, test-infra_push-containers

feat(make): use podman if available
  Makefile
Due: none

fix: proper timeout when image job not finished
  docker/istio-workspace-builder-base.Dockerfile
  docker/scripts/istio-workspace-e2e.sh
  docker/scripts/istio-workspace-image-build.sh
Due: test-infra_build-containers, test-infra_push-containers

fix: proper presubmits
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

feat: adds builder images
  docker/istio-workspace-builder-base.Dockerfile
  docker/istio-workspace-builder.Dockerfile
  docker/istio-workspace-image-builder.Dockerfile
  docker/istio-workspace-tester.Dockerfile
  docker/scripts/ike-builder-gitconfig
  docker/scripts/istio-workspace-e2e.sh
  docker/scripts/istio-workspace-image-build.sh
  docker/scripts/istio-workspace.sh
  prow/config/presubmits.yaml
Due: test-infra_build-containers, test-infra_deploy-prow, test-infra_push-containers

feat: adds make images target
  Makefile
Due: none

Add support for maistra/istio's maistra-2.1 branch (#105)
  Makefile
  docker/maistra-builder_2.1.Dockerfile
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_build-containers, test-infra_deploy-prow, test-infra_push-containers

Comment maistra gen target until it's back on the branch
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Update istio-tools to correct SHA
  docker/maistra-builder_2.1.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Run two replicas of deck
  prow/cluster/deck_deployment.yaml
Due: test-infra_deploy-prow

Run two replicas of deck (#108)
  prow/cluster/deck_deployment.yaml
Due: test-infra_deploy-prow

Update RBAC configs - we forgot this when bumping the components
  prow/cluster/crier_rbac.yaml
  prow/cluster/deck_rbac.yaml
  prow/cluster/sinker_rbac.yaml
Due: test-infra_deploy-prow

Replace plank with prow-controller-manager
  prow/cluster/plank_rbac.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/prow_controller_manager_rbac.yaml
  prow/cluster/prow_controller_manager_service.yaml
Due: test-infra_deploy-prow

Fix prow (#107)
  prow/cluster/deck_rbac.yaml
  prow/cluster/plank_rbac.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/prow_controller_manager_rbac.yaml
  prow/cluster/prow_controller_manager_service.yaml
  prow/cluster/sinker_rbac.yaml
Due: test-infra_deploy-prow

Update ProwJob CRD to latest version
  prow/cluster/prowjob_customresourcedefinition.yaml
Due: test-infra_deploy-prow

Update ProwJob CRD to latest version (#109)
  prow/cluster/prowjob_customresourcedefinition.yaml
Due: test-infra_deploy-prow

Fix 2.1 branch (#106)
  docker/maistra-builder_2.1.Dockerfile
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_build-containers, test-infra_deploy-prow, test-infra_push-containers

Fix container pushing and drop old containers
  Makefile
  docker/maistra-builder_1.0.Dockerfile
  docker/maistra-builder_1.1.Dockerfile
  docker/scripts/README.md
  docker/scripts/install_base.sh
  docker/scripts/install_docker.sh
  docker/scripts/install_docs_tools.sh
  docker/scripts/install_go_12.sh
  docker/scripts/install_go_13.sh
  docker/scripts/install_helm.sh
  docker/scripts/install_kubectl.sh
  docker/scripts/install_shellcheck.sh
Due: test-infra_build-containers, test-infra_push-containers

Fix container pushing and drop old containers (#110)
  Makefile
  docker/maistra-builder_1.0.Dockerfile
  docker/maistra-builder_1.1.Dockerfile
  docker/scripts/README.md
  docker/scripts/install_base.sh
  docker/scripts/install_docker.sh
  docker/scripts/install_docs_tools.sh
  docker/scripts/install_go_12.sh
  docker/scripts/install_go_13.sh
  docker/scripts/install_helm.sh
  docker/scripts/install_kubectl.sh
  docker/scripts/install_shellcheck.sh
Due: test-infra_build-containers, test-infra_push-containers

Fix push
  Makefile
  docker/maistra-builder_2.0.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Fix push (#111)
  Makefile
  docker/maistra-builder_2.0.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Fix gen-check job execution on 2.1 build image
  docker/maistra-builder_2.1.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Fix gen-check job execution on 2.1 build image (#112)
  docker/maistra-builder_2.1.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Add istio-operator 2.1 jobs
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add istio-operator 2.1 jobs (#113)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Install both yq's using different names
  docker/maistra-builder_2.0.Dockerfile
  docker/maistra-builder_2.1.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Install both yq's using different names (#114)
  docker/maistra-builder_2.0.Dockerfile
  docker/maistra-builder_2.1.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Path conditions:
  test-infra_build-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_build-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile
  test-infra_deploy-prow: any of: ^prow/
  test-infra_push-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_push-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile
