Repository maistra/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-infra_build-containers, test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers

Path conditions:
  test-infra_build-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_build-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile
  test-infra_deploy-prow: any of: ^prow/
  test-infra_push-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_push-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile

Use 2.1 images for test-infra jobs
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Use 2.1 images for test-infra jobs (#155)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add tide to xns-informer
  prow/config.gen.yaml
  prow/config/tide.yaml
  prow/plugins.yaml
Due: test-infra_deploy-prow

Add tide to xns-informer (#157)
  prow/config.gen.yaml
  prow/config/tide.yaml
  prow/plugins.yaml
Due: test-infra_deploy-prow

Update proxy 2.1 image
  docker/maistra-proxy-builder_2.1.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers

Update proxy 2.1 image (#158)
  docker/maistra-proxy-builder_2.1.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers

Consolidate 1.9 Dockerfile into maistra-2.1
  Makefile
  docker/maistra-builder_2.1-1.9.Dockerfile
  docker/maistra-builder_2.1.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Consolidate 1.9 Dockerfile into maistra-2.1 (#156)
  Makefile
  docker/maistra-builder_2.1-1.9.Dockerfile
  docker/maistra-builder_2.1.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Use the same shellcheck version as Istio 1.9
  docker/maistra-builder_2.1.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Use the same shellcheck version as Istio 1.9 (#159)
  docker/maistra-builder_2.1.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Revert "MAISTRA-2394 Add build container and jobs for 1.9 rebase (#147)"
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

keep exact match for branch
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Revert "MAISTRA-2394 Add build container and jobs for 1.9 rebase" (#160)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

MAISTRA-2579: Install OpenShift tools in 2.1 image
  docker/maistra-builder_2.1.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

MAISTRA-2579: Setup an experimental e2e job
  prow/config.gen.yaml
  prow/config/presets.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

MAISTRA-2579: Install OpenShift tools in 2.1 image (#161)
  docker/maistra-builder_2.1.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

MAISTRA-2579: Setup an experimental e2e job (#162)
  prow/config.gen.yaml
  prow/config/presets.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

MAISTRA-2579: Missing entrypoint
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

MAISTRA-2579: Missing entrypoint (#163)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

MAISTRA-2579: Missing privileged
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

MAISTRA-2579: Missing privileged (#164)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

MAISTRA-2579: Add OCP 4.8 job
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

MAISTRA-2579: Add OCP 4.8 job (#165)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Enable k8s storage
  prow/cluster/crier_deployment.yaml
  prow/create.sh
Due: test-infra_deploy-prow

Enable k8s storage (#166)
  prow/cluster/crier_deployment.yaml
  prow/create.sh
Due: test-infra_deploy-prow

Add gcsweb.maistra.io web server
  prow/cluster/gcsweb/gcsweb_configmap-nginx.yaml
  prow/cluster/gcsweb/gcsweb_deployment.yaml
  prow/cluster/gcsweb/gcsweb_ing.yaml
  prow/cluster/gcsweb/gcsweb_letsencrypt.yaml
  prow/cluster/gcsweb/gcsweb_namespace.yaml
  prow/cluster/gcsweb/gcsweb_service.yaml
  prow/config.gen.yaml
  prow/config/deck.yaml
Due: test-infra_deploy-prow

Add gcsweb.maistra.io web server (#167)
  prow/cluster/gcsweb/gcsweb_configmap-nginx.yaml
  prow/cluster/gcsweb/gcsweb_deployment.yaml
  prow/cluster/gcsweb/gcsweb_ing.yaml
  prow/cluster/gcsweb/gcsweb_letsencrypt.yaml
  prow/cluster/gcsweb/gcsweb_namespace.yaml
  prow/cluster/gcsweb/gcsweb_service.yaml
  prow/config.gen.yaml
  prow/config/deck.yaml
Due: test-infra_deploy-prow

Move the gcsweb files to the main directory
  prow/cluster/gcsweb_configmap-nginx.yaml
  prow/cluster/gcsweb_deployment.yaml
  prow/cluster/gcsweb_ing.yaml
  prow/cluster/gcsweb_letsencrypt.yaml
  prow/cluster/gcsweb_namespace.yaml
  prow/cluster/gcsweb_service.yaml
Due: test-infra_deploy-prow

Move the gcsweb files to the main directory (#168)
  prow/cluster/gcsweb_configmap-nginx.yaml
  prow/cluster/gcsweb_deployment.yaml
  prow/cluster/gcsweb_ing.yaml
  prow/cluster/gcsweb_letsencrypt.yaml
  prow/cluster/gcsweb_namespace.yaml
  prow/cluster/gcsweb_service.yaml
Due: test-infra_deploy-prow

Add prometheus tests
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add promu tests for build & test
  docker/maistra-builder_2.1.Dockerfile
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_build-containers, test-infra_deploy-prow, test-infra_push-containers

Add prometheus tests (#169)
  docker/maistra-builder_2.1.Dockerfile
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_build-containers, test-infra_deploy-prow, test-infra_push-containers

No need for promu build
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Don't run proxy/envoy jobs as privileged, increase cpu limits to 8
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Don't run proxy/envoy jobs as privileged, increase cpu limits to 8 (#171)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add a merge label to tide
  prow/config.gen.yaml
  prow/config/tide.yaml
Due: test-infra_deploy-prow

Add a merge label to tide (#172)
  prow/config.gen.yaml
  prow/config/tide.yaml
Due: test-infra_deploy-prow

Added a builder image to use with maistra-envoy main branch
  docker/maistra-proxy-builder_main.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers

Automatically update charts in 2.1 when they change in 1.0, 1.1 or 2.0
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

Add branch
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow
