Repository maistra/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-infra_build-containers, test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers, test-infra_build-containers-2.0, test-infra_build-containers-2.1, test-infra_build-containers-2.2, test-infra_build-containers-2.3, test-infra_build-proxy-containers-2.1, test-infra_build-proxy-containers-2.0

Path conditions:
  test-infra_build-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_build-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile
  test-infra_deploy-prow: any of: ^prow/
  test-infra_push-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_push-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile
  test-infra_build-containers-2.0: any of: ^docker/maistra-builder_2\.0\.Dockerfile|^docker/scripts
  test-infra_build-containers-2.1: any of: ^docker/maistra-builder_2\.1\.Dockerfile|^docker/scripts
  test-infra_build-containers-2.2: any of: ^docker/maistra-builder_2\.2\.Dockerfile|^docker/scripts
  test-infra_build-containers-2.3: any of: ^docker/maistra-builder_2\.3\.Dockerfile|^docker/scripts
  test-infra_build-proxy-containers-2.1: any of: ^docker/maistra-proxy-builder_2\.1\.Dockerfile
  test-infra_build-proxy-containers-2.0: any of: ^docker/maistra-proxy-builder_2\.0\.Dockerfile

Fix job istio-push-images-2.3 (#311)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Attempt to reduce resource requests for 2.4 istio jobs
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Attempt to reduce resource requests for 2.4 istio jobs (#312)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Remove all 2.0 leftovers
  Makefile
  docker/README.md
  docker/maistra-builder_2.0.Dockerfile
  docker/maistra-proxy-builder_2.0.Dockerfile
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_build-containers, test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers, test-infra_build-containers-2.0, test-infra_build-proxy-containers-2.0

Remove all 2.0 leftovers (#313)
  Makefile
  docker/README.md
  docker/maistra-builder_2.0.Dockerfile
  docker/maistra-proxy-builder_2.0.Dockerfile
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_build-containers, test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers, test-infra_build-containers-2.0, test-infra_build-proxy-containers-2.0

Bump prow to version used in istio
  docker/maistra-builder_2.1.Dockerfile
  docker/maistra-builder_2.2.Dockerfile
  docker/maistra-builder_2.3.Dockerfile
  docker/maistra-builder_2.4.Dockerfile
  docker/maistra-proxy-builder_2.1.Dockerfile
  docker/maistra-proxy-builder_main.Dockerfile
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.gen.yaml
  prow/config/plank.yaml
Due: test-infra_build-containers, test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers, test-infra_build-containers-2.1, test-infra_build-containers-2.2, test-infra_build-containers-2.3, test-infra_build-proxy-containers-2.1

OSSM-2159: Add job for 2.4 daily images
  prow/config.gen.yaml
  prow/config/periodics.yaml
Due: test-infra_deploy-prow

OSSM-2159: Add job for 2.4 daily images (#315)
  prow/config.gen.yaml
  prow/config/periodics.yaml
Due: test-infra_deploy-prow

Bump clang to the version used in product build
  docker/maistra-builder_2.2.Dockerfile
  docker/maistra-builder_2.3.Dockerfile
  docker/maistra-builder_2.4.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers, test-infra_build-containers-2.2, test-infra_build-containers-2.3

Bump clang to the version used in product build (#316)
  docker/maistra-builder_2.2.Dockerfile
  docker/maistra-builder_2.3.Dockerfile
  docker/maistra-builder_2.4.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers, test-infra_build-containers-2.2, test-infra_build-containers-2.3

OSSM-2153: adds multicluster job for 2.4
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

fix: removes vendor mode flag
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

fix(gen): removes vendor mode flag
  prow/config.gen.yaml
Due: test-infra_deploy-prow

fix: lowers requested resources as in other jobs
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

OSSM-2153: adds multicluster job for 2.4 (#317)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Update prow to version used by istio
  docker/maistra-builder_2.3.Dockerfile
  docker/maistra-builder_2.4.Dockerfile
  docker/maistra-proxy-builder_main.Dockerfile
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.gen.yaml
  prow/config/plank.yaml
Due: test-infra_build-containers, test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers, test-infra_build-containers-2.3

Update prow to version used by istio (#318)
  docker/maistra-builder_2.3.Dockerfile
  docker/maistra-builder_2.4.Dockerfile
  docker/maistra-proxy-builder_main.Dockerfile
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.gen.yaml
  prow/config/plank.yaml
Due: test-infra_build-containers, test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers, test-infra_build-containers-2.3

Fix the image for the proxy-update-istio job
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

Fix the image for the proxy-update-istio job (#319)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

Add image push job for operator
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add image push job for operator (#320)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

fix: removes unused multicluster test label
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

fix: removes unused multicluster test label (#321)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

OSSM-2418: Setup post-submit jobs for 2.4
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

OSSM-2418: Setup post-submit jobs for 2.4 (#322)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

Bump bazel to 6.0.0
  docker/maistra-builder_2.4.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Bump bazel to 6.0.0 (#323)
  docker/maistra-builder_2.4.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Remove 2.4 operator and istio integ test jobs
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add the override plugin to repos
  prow/plugins.yaml
Due: test-infra_deploy-prow

Add the override plugin to repos (#325)
  prow/plugins.yaml
Due: test-infra_deploy-prow

OSSM-3021: Create a periodic job that syncs Istio
  prow/config.gen.yaml
  prow/config/periodics.yaml
Due: test-infra_deploy-prow

OSSM-3021: Create a periodic job that syncs Istio (#326)
  prow/config.gen.yaml
  prow/config/periodics.yaml
Due: test-infra_deploy-prow

Fix golang installations
  docker/maistra-builder_2.3.Dockerfile
  docker/maistra-builder_2.4.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers, test-infra_build-containers-2.3

Fix golang installations (#327)
  docker/maistra-builder_2.3.Dockerfile
  docker/maistra-builder_2.4.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers, test-infra_build-containers-2.3

Add workaround git issues on OpenShift Prow CI
  docker/maistra-builder_2.1.Dockerfile
  docker/maistra-builder_2.2.Dockerfile
  docker/maistra-builder_2.3.Dockerfile
  docker/maistra-builder_2.4.Dockerfile
  docker/maistra-builder_main.Dockerfile
  docker/maistra-proxy-builder_2.1.Dockerfile
  docker/maistra-proxy-builder_main.Dockerfile
Due: test-infra_build-containers, test-infra_build-proxy-containers, test-infra_push-containers, test-infra_push-proxy-containers, test-infra_build-containers-2.1, test-infra_build-containers-2.2, test-infra_build-containers-2.3, test-infra_build-proxy-containers-2.1

Remove 2.4 operator and istio integ test jobs (#324)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add cherrypicker external plugin to maistra-test-tool
  prow/plugins.yaml
Due: test-infra_deploy-prow

Add maistra-test-tool repo to plugin list
  prow/plugins.yaml
Due: test-infra_deploy-prow

Add cherrypicker external plugin to maistra-test-tool (#329)
  prow/plugins.yaml
Due: test-infra_deploy-prow

Restore istio jobs
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow
