Repository maistra/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-infra_build-containers, test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers

Path conditions:
  test-infra_build-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_build-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile
  test-infra_deploy-prow: any of: ^prow/
  test-infra_push-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_push-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile

Fix the wasm build in proxy image (#134)
  docker/maistra-proxy-builder_2.1.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers

MAISTRA-1717 Don't install yq-python, update yq to v4
  docker/maistra-builder_2.1.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Add support for prow jobs for 2.1
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add support for prow jobs for 2.1 (#136)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Create a presubmit lint test for must-gather
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Create a presubmit lint test for must-gather (#137)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add build job for dgn/oidc-filter
  prow/config.gen.yaml
  prow/config/presubmits.yaml
  prow/config/tide.yaml
  prow/plugins.yaml
Due: test-infra_deploy-prow

Add build job for dgn/oidc-filter (#138)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
  prow/config/tide.yaml
  prow/plugins.yaml
Due: test-infra_deploy-prow

Add maistra/header-append-filter to tide
  prow/config.gen.yaml
  prow/config/tide.yaml
Due: test-infra_deploy-prow

Add maistra/header-append-filter to tide (#139)
  prow/config.gen.yaml
  prow/config/tide.yaml
Due: test-infra_deploy-prow

MAISTRA-2302: Create maistra/api repo
  prow/config.gen.yaml
  prow/config/presubmits.yaml
  prow/plugins.yaml
Due: test-infra_deploy-prow

MAISTRA-2302: Create maistra/api repo (#140)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
  prow/plugins.yaml
Due: test-infra_deploy-prow

Add maistra/api to tide
  prow/config.gen.yaml
  prow/config/tide.yaml
Due: test-infra_deploy-prow

Add maistra/api to tide (#141)
  prow/config.gen.yaml
  prow/config/tide.yaml
Due: test-infra_deploy-prow

Fix "don't squash" label usage
  prow/config.gen.yaml
  prow/config/tide.yaml
Due: test-infra_deploy-prow

Fix "don't squash" label usage (#142)
  prow/config.gen.yaml
  prow/config/tide.yaml
Due: test-infra_deploy-prow

MAISTRA-2346: Add a post-submit job for api
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

MAISTRA-2346: Add a post-submit job for api (#143)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

Add protoc-gen-deepcopy as needed by maistra/api
  docker/maistra-builder_2.1.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Add protoc-gen-deepcopy as needed by maistra/api (#144)
  docker/maistra-builder_2.1.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Add a post-submit job for istio
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

Add a post-submit job for istio (#146)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

MAISTRA-2394 Add build container and jobs for 1.9 rebase
  Makefile
  docker/maistra-builder_2.1-1.9.Dockerfile
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_build-containers, test-infra_deploy-prow, test-infra_push-containers

Bump prow
  docker/maistra-builder_2.0.Dockerfile
  docker/maistra-builder_2.1.Dockerfile
  docker/maistra-proxy-builder_1.1.Dockerfile
  docker/maistra-proxy-builder_2.0.Dockerfile
  docker/maistra-proxy-builder_2.1.Dockerfile
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/prow_controller_manager_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/config.gen.yaml
  prow/config/plank.yaml
Due: test-infra_build-containers, test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers

Temporarily build using go 1.16
  docker/maistra-builder_2.0.Dockerfile
  docker/maistra-builder_2.1.Dockerfile
  docker/maistra-proxy-builder_1.1.Dockerfile
  docker/maistra-proxy-builder_2.0.Dockerfile
  docker/maistra-proxy-builder_2.1.Dockerfile
Due: test-infra_build-containers, test-infra_build-proxy-containers, test-infra_push-containers, test-infra_push-proxy-containers

MAISTRA-2394 Add build container and jobs for 1.9 rebase (#147)
  Makefile
  docker/maistra-builder_2.1-1.9.Dockerfile
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_build-containers, test-infra_deploy-prow, test-infra_push-containers

Set --github-token-path arg on missing deployments
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/tide_deployment.yaml
Due: test-infra_deploy-prow

Set --github-token-path arg on missing deployments (#149)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/tide_deployment.yaml
Due: test-infra_deploy-prow

Increase pod wait time to 6h, from the default 5m
  prow/config.gen.yaml
  prow/config/plank.yaml
Due: test-infra_deploy-prow

Increase pod wait time to 6h, from the default 5m (#150)
  prow/config.gen.yaml
  prow/config/plank.yaml
Due: test-infra_deploy-prow

MAISTRA-2413 Add maistra-2.0 branch for header-append-filter
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

MAISTRA-2413 Add maistra-2.0 branch for header-append-filter (#151)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Default yq to yq-go
  docker/maistra-builder_2.1-1.9.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Default yq to yq-go (#152)
  docker/maistra-builder_2.1-1.9.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

MAISTRA-2448: Add test and lint for header-append-filter
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

MAISTRA-2448: Add test and lint for header-append-filter (#153)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Fix a typo that prevents lint job from running
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow
