Repository maistra/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-infra_build-containers, test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers

test-infra_build-containers:
  decorate: true
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:1.2
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - build-containers
      securityContext:
        privileged: true
      resources:
        limits:
          memory: 16Gi
        requests:
  ...

test-infra_build-proxy-containers:
  decorate: true
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:1.2
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - build-proxy-containers
      securityContext:
        privileged: true
      resources:
        limits:
          memory: 16Gi
        requests:
  ...

test-infra_deploy-prow:
  decorate: true
  labels:
    preset-prow-deployer: 'true'
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:1.2
      imagePullPolicy: Always
      command:
      - make
      - gen-check
      - update-prow
      resources:
        limits:
          memory: 4Gi
        requests:
          cpu: '2'
  ...

test-infra_push-containers:
  decorate: true
  labels:
    preset-quay-pusher: 'true'
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:1.2
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - maistra-builder.push
      securityContext:
        privileged: true
      resources:
        limits:
  ...

test-infra_push-proxy-containers:
  decorate: true
  labels:
    preset-quay-pusher: 'true'
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:1.2
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - maistra-proxy-builder.push
      securityContext:
        privileged: true
      resources:
        limits:
  ...

MAISTRA-2060: Point to Red Hat Jira for issues
  .github/ISSUE_TEMPLATE/config.yml
  README.md
Due: none

Look for the right yq; Check if it's the correct one
  scripts/check-resource-limits.sh
Due: none

Look for the right yq; Check if it's the correct one (#116)
  scripts/check-resource-limits.sh
Due: none

Docs 2.0 should use CI image 2.0
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Docs 2.0 should use CI image 2.0 (#117)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

feat: add smee client image for github push events over pull model (#3)
  Makefile
  docker/istio-workspace-smee-client.Dockerfile
  prow/cluster/smee-client_deployment.yaml
Due: test-infra_deploy-prow

MAISTRA-2060: Point to Red Hat Jira for issues (#115)
  .github/ISSUE_TEMPLATE/config.yml
  README.md
Due: none

Add IOR to tide
  prow/config.gen.yaml
  prow/config/tide.yaml
Due: test-infra_deploy-prow

Add IOR to tide (#118)
  prow/config.gen.yaml
  prow/config/tide.yaml
Due: test-infra_deploy-prow

Added a proxy build image for maistra-2.1
  docker/maistra-proxy-builder_2.1.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers

Added proxy-builder-2.1 target
  Makefile
Due: none

Operator: Use 2.0 image to run 2.0 tests
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Operator: Use 2.0 image to run 2.0 tests (#120)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Added a proxy build image for maistra-2.1 (#119)
  Makefile
  docker/maistra-proxy-builder_2.1.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers

Setup envoy and proxy jobs for 2.1
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Setup envoy and proxy jobs for 2.1 (#121)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add lbzip2 to proxy 2.1 image
  docker/maistra-proxy-builder_2.1.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers

Add lbzip2 to proxy 2.1 image (#122)
  docker/maistra-proxy-builder_2.1.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers

Restore ISTIO_ENVOY_BASE_URL in 2.1 jobs
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Restore ISTIO_ENVOY_BASE_URL in 2.1 jobs (#123)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Experimental job for proxy and envoy clang builds
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Experimental job for proxy and envoy clang builds (#124)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

chore(infra): add secret gpg signed repo
  .gitignore
  .gitsecret/keys/pubring.kbx
  .gitsecret/keys/pubring.kbx~
  .gitsecret/keys/trustdb.gpg
  .gitsecret/paths/mapping.cfg
  secrets/gcs-credentials.json.secret
Due: none

Fix hook RBAC
  prow/cluster/hook_rbac.yaml
Due: test-infra_deploy-prow

Fix hook RBAC (#126)
  prow/cluster/hook_rbac.yaml
Due: test-infra_deploy-prow

Use gcc 9 for proxy 2.1 image
  docker/maistra-proxy-builder_2.1.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers

Use gcc 9 for proxy 2.1 image (#127)
  docker/maistra-proxy-builder_2.1.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers

Use 2.1 image for envoy 2.1 post-submit
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

Use 2.1 image for envoy 2.1 post-submit (#128)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

clang: be more restrict on branches
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

clang: be more restrict on branches (#129)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

envoy 2.1-clang post-submit job: use correct image
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

envoy 2.1-clang post-submit job: use correct image (#130)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

proxy post submit 2.1-clang: Use the correct image
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

proxy post submit 2.1-clang: Use the correct image (#131)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

Add tools to compile WASM extension
  docker/maistra-proxy-builder_2.1.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers

Add tools to compile WASM extension (#132)
  docker/maistra-proxy-builder_2.1.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers

Add annocheck to proxy image
  docker/maistra-proxy-builder_2.1.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers

Add annocheck to proxy image (#133)
  docker/maistra-proxy-builder_2.1.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers

Fix the wasm build in proxy image
  docker/maistra-proxy-builder_2.1.Dockerfile
Due: test-infra_build-proxy-containers, test-infra_push-proxy-containers

Path conditions:
  test-infra_build-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_build-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile
  test-infra_deploy-prow: any of: ^prow/
  test-infra_push-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_push-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile
