Repository maistra/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: test-infra_build-containers, test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-containers, test-infra_push-proxy-containers

test-infra_build-containers:
  decorate: true
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.1
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - build-containers
      securityContext:
        privileged: true
      resources:
        limits:
          memory: 16Gi
          cpu: '4'
  ...

test-infra_build-proxy-containers:
  decorate: true
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.1
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - build-proxy-containers
      securityContext:
        privileged: true
      resources:
        limits:
          memory: 16Gi
          cpu: '4'
  ...

test-infra_deploy-prow:
  decorate: true
  labels:
    preset-prow-deployer: 'true'
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.0
      imagePullPolicy: Always
      command:
      - make
      - gen-check
      - update-prow
      resources:
        limits:
          memory: 4Gi
          cpu: '4'
        requests:
  ...

test-infra_push-containers:
  decorate: true
  labels:
    preset-quay-pusher: 'true'
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.0
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - maistra-builder.push
      securityContext:
        privileged: true
      resources:
        limits:
  ...

test-infra_push-proxy-containers:
  decorate: true
  labels:
    preset-quay-pusher: 'true'
  spec:
    containers:
    - image: quay.io/maistra-dev/maistra-builder:2.0
      imagePullPolicy: Always
      command:
      - entrypoint
      - make
      - maistra-proxy-builder.push
      securityContext:
        privileged: true
      resources:
        limits:
  ...

Add initial 2.3 image, capable of building Envoy 1.22
  Makefile
  docker/maistra-builder_2.3.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Vale is not working on 2.1
  docker/maistra-builder_2.1.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Install python 3.8, Envoy tests need it
  docker/maistra-builder_2.3.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Add jobs for Envoy 2.3
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add jobs for Envoy 2.3 (#226)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Split build containers job
  Makefile
  docker/maistra-proxy-builder_1.1.Dockerfile
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-proxy-containers

Split build containers job (#227)
  Makefile
  docker/maistra-proxy-builder_1.1.Dockerfile
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_build-proxy-containers, test-infra_deploy-prow, test-infra_push-proxy-containers

Stick with clang 13, the default version got bumped to 14
  docker/maistra-builder_2.2.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Stick with clang 13, the default version got bumped to 14 (#228)
  docker/maistra-builder_2.2.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Install python 3.8, Envoy tests need it (#229)
  docker/maistra-builder_2.3.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Add the tide blocker_label field
  prow/config.gen.yaml
  prow/config/tide.yaml
Due: test-infra_deploy-prow

Add the tide blocker_label field (#230)
  prow/config.gen.yaml
  prow/config/tide.yaml
Due: test-infra_deploy-prow

Add jobs for Proxy 2.3
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add jobs for Proxy 2.3 (#232)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Stop setting the CI environment variable in our images
  docker/maistra-builder_2.0.Dockerfile
  docker/maistra-builder_2.1.Dockerfile
  docker/maistra-builder_2.2.Dockerfile
  docker/maistra-builder_2.3.Dockerfile
  docker/maistra-builder_main.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Stop setting the CI environment variable in our images (#233)
  docker/maistra-builder_2.0.Dockerfile
  docker/maistra-builder_2.1.Dockerfile
  docker/maistra-builder_2.2.Dockerfile
  docker/maistra-builder_2.3.Dockerfile
  docker/maistra-builder_main.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

OSSM-1554 Add istio-operator jobs for 'maistra-2.3' branch
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

OSSM-1554 Add istio-operator jobs for 'maistra-2.3' branch (#231)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add postsubmit job that Updates charts on 2.3
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

Remove the envoy upstream sync on main branch job
  prow/config.gen.yaml
  prow/config/periodics.yaml
Due: test-infra_deploy-prow

Add postsubmit job that Updates charts on 2.3 (#234)
  prow/config.gen.yaml
  prow/config/postsubmits.yaml
Due: test-infra_deploy-prow

Remove the envoy upstream sync on main branch job (#235)
  prow/config.gen.yaml
  prow/config/periodics.yaml
Due: test-infra_deploy-prow

Remove deprecated operator e2e PoC
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add temporary job istio-integration-maistra-servicemesh-mc
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Update config.gen.yaml
  prow/config.gen.yaml
Due: test-infra_deploy-prow

Remove deprecated operator e2e PoC (#236)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Rename maistra branch to maistra-main
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Rename maistra branch to maistra-main (#238)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add jobs for Istio 2.3
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add jobs for Istio 2.3 (#239)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add istio-operator lint job
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Add istio-operator lint job (#240)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Split jobs with integration tests
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Split jobs with integration tests (#241)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Disable unnecessary multicluster tests
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Disable unnecessary multicluster tests (#243)
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Bump golangci-lint to v1.44.0 to match upstream
  docker/maistra-builder_2.3.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Add jobs for branch maistra-2.3-1.14.3
  prow/config.gen.yaml
  prow/config/presubmits.yaml
Due: test-infra_deploy-prow

Bump golangci-lint to v1.44.0 to match upstream (#244)
  docker/maistra-builder_2.3.Dockerfile
Due: test-infra_build-containers, test-infra_push-containers

Path conditions:
  test-infra_build-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_build-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile
  test-infra_deploy-prow: any of: ^prow/
  test-infra_push-containers: any of: ^docker/maistra-builder_.*\.Dockerfile|^docker/scripts
  test-infra_push-proxy-containers: any of: ^docker/maistra-proxy-builder_.*\.Dockerfile
